<tr><td><table class="content">
  <tr><th><%=t 'seasons.filter.header'%></th></tr>
  <tr><td>
    <%= form_for("seasons", :method => "get") do |f| %>
      <%= check_box(:filter, :owning) %><font color="green"><b>X</b></font>
      <%= check_box(:filter, :not_owning) %><font color="red"><b>X</b></font>
      <%= radio_button(:filter, :relation, :and, { :checked => (User.current.filterrelation == "and") }) %><%=t 'seasons.filter.and'%>
      <%= radio_button(:filter, :relation, :or, { :checked => (User.current.filterrelation == "or") }) %><%=t 'seasons.filter.or'%>
      <%= collection_select(:filter, :tag_id, Tag.for_seasons, :id, :full_description, options={:prompt => t('seasons.filter.individual_tags')}) %>
      <%= f.submit t('seasons.filter.filter') %>
    <% end %>
  </td></tr>
</table></td></tr>