<% if @season.errors.any? %>
<tr><td><table class="content error">
  <tr><th><%=t 'seasons.form.errors.header', :error_count => @season.errors.count %></th></tr>
  <tr><td>
    <ul>
    <% @season.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </td></tr>
</table></td></tr>
<% end %>

<tr><td><table class="content"><tr><td>
<%= form_for(@season, :url => { :action => "update", :id => @season.id }, :method => "put") do |f| %>
  <div class="field">
  	<%=t 'seasons.form.name'%>:<br />
  	<%= text_field_tag :name, @season.name, :disabled => true %>
  </div>

  <% if @season.number != 0 then %>
  <div class="field">
  	<%=t 'seasons.form.episode_count'%>:<br />
  	<%= f.text_field :episodes_count %>
  </div>
  <% end %>

  <div class="field">
  	<%=t 'seasons.form.tags'%><br />
  	<%= f.collection_select :tag_ids, Tag.for_seasons, :id, :full_description, {}, { :multiple => true} %>
  </div>
  
  <div class="actions">
    <%= f.submit t('seasons.form.save') %>
  </div>
<% end %>
</td></tr></table></td></tr>