<% if @season.errors.any? %>
<tr><td><table class="content error">
  <tr><th><%= @season.errors.count %> Fehler aufgetreten</th></tr>
  <tr><td>
    <ul>
    <% @season.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </td></tr>
</table></td></tr>
<% end %>

<tr><td><table class="content"><tr><td>
<%= form_for(@season, :url => { :action => "update", :id => @season.id }, :method => "put") do |f| %>
  <div class="field">
  	Name:<br />
  	<%= text_field_tag :name, @season.name, :disabled => true %>
  </div>

  <div class="field">
  	Anzahl Folgen:<br />
  	<%= f.text_field :episodes_count %>
  </div>

  <div class="field">
  	<%= f.label :tags %><br />
  	<%= f.collection_select :tag_ids, Tag.for_seasons, :id, :full_description, {}, { :multiple => true} %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Speichern' %>
  </div>
<% end %>
</td></tr></table></td></tr>