<font color="<%=
if @a_season.users.include?(User.current) then
	"green"
else
	"red"
end %>
"><span title="<%=
if @a_season.users.include?(User.current) then
	t('seasons.taglist.owning')
else
	t('seasons.taglist.not_owning')
end %>
">X</span></font>
<% @a_season.tags.order("priority DESC").each do |tag| %>
	<font color="<%= tag.color %>">
		<span title="<%= tag.comment %>">
			<%= tag.acronym %>
		</span>
	</font>
<% end %>