<h1>Staffeln</h1>

<%= render 'filter' if params[:filter_show] %>

<%= link_to 'Als CSV exportieren', { :controller => "seasons", :format => "csv" } %><%
if !params[:filter_show] then %> |
<%= link_to 'Filter', { :controller => "seasons", :filter_show => true } %>
<% end %>

<br /><br />

<table class="content">
  <tr>
    <th>Name</th>
    <th>Tags</th>
    <th>Besitzer</th>
    <th></th>
  </tr>
<% @seasons = Season.sort_by_name(@seasons) %>
<% @seasons.each do |season| %>
  <% @a_season = season %>
  <% if !params[:filter] || !season.is_filtered?(params[:filter]) then %>
  <tr>
    <td><%= season.name %></td>
    <td><b><%= render 'taglist' %></b></td>
    <td><%= gen_users_fullname_comma_list season.users %></td>
    <td><%= link_to 'Zu Serie', season.series %>
    	<%= link_to('Bearbeiten', :action => 'edit', :id => season.id ) %>
    	<%= link_to('Entfernen', :controller => 'series', :action => 'season_remove', :id => season.series.id, :mothod => 'puts') if season.series.seasons.order("number DESC").first.number == season.number %>
    	</td>
  </tr>
  <% end %>
<% end %>

</table>

<br />

<%= link_to 'Als CSV exportieren', { :controller => "season", :format => "csv" } %><%
if !params[:filter_show] then %> |
<%= link_to 'Filter', { :controller => "seasons", :filter_show => true } %>
<% end %>