<tr><td><table class="content" id="subtitle"><tr><td>
<h2><%=t 'seasons.index.header'%></h2>

<%= link_to t('seasons.index.export_as_csv'), { :controller => "seasons", :format => "csv" } %><%
if !params[:filter_show] then %> |
<%= link_to t('seasons.index.filter'), { :controller => "seasons", :filter_show => true } %>
<% end %>
</td></tr></table></td></tr>

<%= render 'filter' if params[:filter_show] %>

<tr><td><table class="content rowhighlight">
  <tr>
    <th><%=t 'seasons.index.name'%></th>
    <th><%=t 'seasons.index.tags'%></th>
    <% if User.current.show_sea_col_episodecount? then %><th><%=t 'seasons.index.episodes'%></th><% end %>
    <% if User.current.show_sea_col_owner? then %><th><%=t 'seasons.index.owners'%></th><% end %>
    <th></th>
  </tr>
<% @seasons = Season.sort_by_name(@seasons) %>
<% count_of_shown_seasons = 0 %>
<% count_of_shown_episodes = 0 %>
<% @seasons.each do |season| %>
  <% @a_season = season %>
  <% if !params[:filter] || !season.is_filtered?(params[:filter]) then %>
  <% count_of_shown_seasons += 1 %>
  <% count_of_shown_episodes += season.episodes_count %>
  <% count_of_shown_episodes += 1 if season.number == 0 %>
  <tr>
    <td><%= season.name %></td>
    <td><b><%= render 'taglist' %></b></td>
    <% if User.current.show_sea_col_episodecount? then %><td><%= if season.number == 0 then "1" else @a_season.episodes_count end %></td><% end %>
    <% if User.current.show_sea_col_owner? then %><td><%= gen_users_fullname_comma_list season.users %></td><% end %>
    <td><%= link_to t('seasons.index.to_series'), season.series %>
    	<%= link_to(t('seasons.index.edit'), :action => 'edit', :id => season.id ) %>
    	<%= link_to(t('seasons.index.delete'), :controller => 'series', :action => 'season_remove', :id => season.series.id, :mothod => 'puts') if season.series.seasons.order("number DESC").first.number == season.number %>
    	</td>
  </tr>
  <% end %>
<% end %>
  <tr>
  	<% colspan_count = 3
  	colspan_count += 1 if User.current.show_sea_col_owner?
  	colspan_count += 1 if User.current.show_sea_col_episodecount? %>
  	<th colspan="<%= colspan_count %>">
  		<center>
  		<%= t 'seasons.index.footer_stats',
  		:season_count => count_of_shown_seasons,
  		:episode_count => count_of_shown_episodes %>
  		</center>
  	</th>
  </tr>
</table></td></tr>