<tr><td><table class="content" id="subtitle"><tr><td>
<h2><Login><%=t 'session.login.header'%></h2>&nbsp;
</td></tr></table></td></tr>
<tr><td><table class="content"><tr><td>
<%= form_tag :controller => "session", :action => "login" %>
<%=t 'session.login.login'%>:
<%= text_field_tag :login, ""%>

<%=t 'session.login.password'%>:
<%= password_field_tag :password, ""%>

<%= submit_tag t('session.login.login')%>

<%= link_to t('session.login.forgot_password'), :action => 'password' %>

</form>
</td></tr></table></td></tr>