<tr><td><table class="content" id="subtitle"><tr><td>
<h2><%=t 'session.password.header'%></h2>&nbsp;
</td></tr></table></td></tr>
<tr><td><table class="content"><tr><td>
<%= form_tag :controller => "session", :action => "password" %>
<%=t 'session.passwor.loginname'%>:
<%= text_field_tag :login, ""%>

<%= submit_tag t('session.password.mail_password')%>
</form>
</td></tr></table></td></tr>