<% if @user.errors.any? %>
<tr><td><table class="content error">
  <tr><th><%= @user.errors.count %> Fehler aufgetreten</th></tr>
  <tr><td>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </td></tr>
</table></td></tr>
<% end %>

<tr><td><table class="content"><tr><td>
<%= form_for(@user) do |f| %>
  <% if @user == User.current || User.current.admin? then %>
  
  <div class="field">
    <%=t 'users.loginname'%><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%=t 'users.form.password'%><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%=t 'users.form.repeat_password'%><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%=t 'users.mail_adress'%><br />
    <%= f.text_field :email %>
  </div>
  
  <% if User.current.admin? then %>
  
  <div class="field">
    <%=t 'users.firstname'%><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%=t 'users.lastname'%><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
  	<%= f.check_box :is_admin %>
    <%=t 'users.admin'%>
  </div>
  
  <% end %>
  	
  <div class="field">
  	<%= f.check_box :replace_uncomplete_x %>
    <%=t 'users.form.replace_x_uncomplete'%>
  </div>
  <div class="field">
  	<%= f.check_box :replace_complete_x %>
    <%=t 'users.form.replace_x_complete'%>
  </div>
  
  <div class="field">
  	<%=t 'users.form.default_filter_relation'%>:
  	<%= f.radio_button :filterrelation, :and %><%=t 'users.form.relation_and'%>
  	<%= f.radio_button :filterrelation, :or %><%=t 'users.form.relation_or'%>
  </div>
  
  <div class="field">
  	<fieldset>
  		<legend><%=t 'users.form.shown_cols_in_seriesindex'%></legend>
  		<%= f.check_box :show_ser_col_complete %>&nbsp;<%=t 'series.index.owning_complete'%><br />
  		<%= f.check_box :show_ser_col_uncomplete %>&nbsp;<%=t 'series.index.owning_partly'%><br />
  		<%= f.check_box :show_ser_col_seasoncount %>&nbsp;<%=t 'series.index.season_count'%><br />
  		<%= f.check_box :show_ser_col_episodecount %>&nbsp;<%=t 'seasons.index.episode_count'%><br />
  	</fieldset>
  </div>
  
  <div class="field">
  	<fieldset>
  		<legend><%=t 'users.form.shown_cols_in_seasonsindex'%></legend>
  		<%= f.check_box :show_sea_col_owner %>&nbsp;<%=t 'seasons.index.owners'%><br />
  		<%= f.check_box :show_sea_col_episodecount %>&nbsp;<%=t 'seasons.index.episode_count'%><br />
  	</fieldset>
  </div>
  
  <div class="actions">
    <%= f.submit t('users.form.save') %>
  </div>
  
  <% end %>
<% end %>
</td></tr></table></td></tr>