<tr><td><table class="content"><tr><td>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> Fehler aufgetreten:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @user == User.current || User.current.admin? then %>
  
  <div class="field">
    <%= f.label 'Loginname' %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label "Passwort" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Passwort wiederholen" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Mailadresse" %><br />
    <%= f.text_field :email %>
  </div>
  
  <% if User.current.admin? then %>
  
  <div class="field">
    <%= f.label 'Vorname' %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label 'Nachname' %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
  	<%= f.check_box :is_admin %>
    <%= f.label 'Admin?' %>
  </div>
  
  <% end %>
  	
  <div class="field">
  	<%= f.check_box :replace_uncomplete_x %>
    Bei unvollständigen Serien '<font color="orange"><b>X</b></font>' durch höchste Staffel ersetzen
  </div>
  <div class="field">
  	<%= f.check_box :replace_complete_x %>
    Bei vollständigen Serien '<font color="green"><b>X</b></font>' durch höchste Staffel ersetzen
  </div>
  
  <div class="field">
  	Standart Filter Relation:
  	<%= f.radio_button :filterrelation, :and %>UND
  	<%= f.radio_button :filterrelation, :or %>ODER
  </div>
  
  <div class="actions">
    <%= f.submit 'Speichern' %>
  </div>
  
  <% end %>
<% end %>
</td></tr></table></td></tr>