<tr><td><table class="content" id="subtitle"><tr><td>
<h2><%=t 'users.index.header'%></h2>
<%= link_to t('users.index.add_user'), new_user_path if User.current.admin? %>&nbsp;
</td></tr></table></td></tr>

<tr><td><table class="content rowhighlight">
  <tr>
    <th><%=t 'users.loginname'%></th>
    <th><%=t 'users.mail_adress'%></th>
    <th><%=t 'users.firstname'%></th>
    <th><%=t 'users.lastname'%></th>
    <th><%=t 'users.admin'%></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><% if !user.email_valid? then %><font color="red"><% end %><%= user.email %><% if !user.email_valid? then %></font><% end %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= check_box_tag "admin", '0', user.admin?, :disabled => true %></td>
    <td><%= link_to t('users.index.details'), user %>
    <%= link_to t('users.index.settings'), edit_user_path(user) if user == User.current || User.current.admin? %>
    <%= link_to t('users.index.delete'), user, confirm: t('users.index.confirm_delete'), method: :delete if User.current.admin? %></td>
  </tr>
<% end %>
</table></td></tr>
