<tr><td><table class="content" id="subtitle"><tr><td>
<h2>Benutzer</h2>
<%= link_to 'Benutzer anlegen', new_user_path if User.current.admin? %>&nbsp;
</td></tr></table></td></tr>

<tr><td><table class="content">
  <tr>
    <th>Login-Name</th>
    <th>E-Mail Adresse</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Admin?</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= check_box_tag "admin", '0', user.admin?, :disabled => true %></td>
    <td><%= link_to 'Details', user %>
    <%= link_to 'Einstellungen', edit_user_path(user) if user == User.current || User.current.admin? %>
    <%= link_to 'Löschen', user, confirm: 'Sind sie sicher?', method: :delete if User.current.admin? %></td>
  </tr>
<% end %>
</table></td></tr>
