<h1><%= @user.fullname %></h1>

<p>
  <b>Login-Name:</b>
  <%= @user.login %>
</p>

<p>
  <b>E-Mail Adresse:</b>
  <%= @user.email %>
</p>

<p>
  <b>Vorname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Nachname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Admin?</b>
  <%= check_box_tag "admin", '0', @user.admin?, :disabled => true %>
</p>


<% if User.current.admin? || @user == User.current then %><%= link_to 'Bearbeiten', edit_user_path(@user) %><% end %>
