<tr><td><table class="content" id="subtitle"><tr><td>
<h2><%= t('users.show.header', :username => @user.fullname) %></h2>
<% if User.current.admin? || @user == User.current then %><%= link_to 'Bearbeiten', edit_user_path(@user) %><% end %>
<% if @user == User.current && !@user.email_valid? then %>| <%= link_to 'Emailadresse validieren', :action => 'validate_email', :id => @user.id %><% end %>&nbsp;
</td></tr></table></td></tr>

<tr><td><table class="content"><tr><td>
<p>
  <b><%=t 'users.loginname'%>:</b>
  <%= @user.login %>
</p>

<p>
  <b><%=t 'users.mail_adress'%></b>
  <%= @user.email %>
</p>

<p>
  <b><%=t 'users.firstname'%></b>
  <%= @user.firstname %>
</p>

<p>
  <b><%= t 'users.lastname'%></b>
  <%= @user.lastname %>
</p>

<p>
  <%= check_box_tag "admin", '0', @user.admin?, :disabled => true %>
  <b><%=t 'users.admin'%></b>
</p>

<p>
  <%= check_box_tag "replace_uncomplete_x", '0', @user.replace_uncomplete_x?, :disabled => true %>
  <b><%=t 'users.show.replace_x_uncomplete'%></b>
</p>

<p>
  <%= check_box_tag "replace_complete_x", '0', @user.replace_complete_x?, :disabled => true %>
  <b><%=t 'users.show.replace_x_complete'%></b>
</p>

<p>
  <b><%=t 'users.show.default_filter_relation'%>:</b>
  <%= if @user.filterrelation == "and" then t('users.show.relation_and') else t('users.show.relation_or') end %>
</p>

<p>
  <fieldset>
    <legend><%=t 'users.show.shown_cols_in_seriesindex'%></legend>
  	<%= check_box_tag "show_ser_col_complete", '0', @user.show_ser_col_complete?, :disabled => true %>&nbsp;<b><%=t 'series.index.owning_complete'%></b><br />
  	<%= check_box_tag "show_ser_col_uncomplete", '0', @user.show_ser_col_uncomplete?, :disabled => true %>&nbsp;<b><%=t 'series.index.owning_partly'%></b><br />
  	<%= check_box_tag "show_ser_col_seasoncount", '0', @user.show_ser_col_seasoncount?, :disabled => true %>&nbsp;<b><%=t 'series.index.season_count'%></b><br />
  	<%= check_box_tag "show_ser_col_episodecount", '0', @user.show_ser_col_episodecount?, :disabled => true %>&nbsp;<b><%=t 'seasons.index.episode_count'%></b><br />
  </fieldset>
</p>
  
<p>
  <fieldset>
  	<legend><%=t 'users.show.shown_cols_in_seasonsindex'%></legend>
  	<%= check_box_tag "show_sea_col_owner", '0', @user.show_sea_col_owner?, :disabled => true %>&nbsp;<b><%=t 'seasons.index.owners'%></b><br />
  	<%= check_box_tag "show_sea_col_episodecount", '0', @user.show_sea_col_episodecount?, :disabled => true %>&nbsp;<b><%=t 'seasons.index.episode_count'%></b><br />
  </fieldset>
</p>
</td></tr></table></td></tr>
