<% if @tag.errors.any? %>
<tr><td><table class="content error">
  <tr><th><%= @tag.errors.count %> Fehler aufgetreten</th></tr>
  <tr><td>
    <ul>
    <% @tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </td></tr>
</table></td></tr>
<% end %>

<tr><td><table class="content"><tr><td>
<%= form_for(@tag) do |f| %>
  <div class="field">
    Kürzel:<br />
    <%= f.text_field :acronym %> (1 Zeichen; A bis Z)
  </div>
  <div class="field">
    Kommentar:<br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    Farbe:<br />
    <%= f.text_field :color %> (green, red, orange, blue, black oder Hex-Code zB: #FF0000)
  </div>
  <div class="field">
    Staffeltag:<br />
    <%= f.check_box :seasontag %> (gehört zu Staffeln nicht zu Serien)
  </div>
  <div class="actions">
    <%= f.submit('Speichern') %>
  </div>
<% end %>
</td></tr></table></td></tr>