<% if @tag.errors.any? %>
<tr><td><table class="content error">
  <tr><th><%=t 'tags.form.errors.header', :error_count => @tag.errors.count %></th></tr>
  <tr><td>
    <ul>
    <% @tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </td></tr>
</table></td></tr>
<% end %>

<tr><td><table class="content"><tr><td>
<%= form_for(@tag) do |f| %>
  <div class="field">
    <%=t 'tags.form.acronym'%>:<br />
    <%= f.text_field :acronym %> (<%=t 'tags.form.acronym_comment'%>)
  </div>
  <div class="field">
    <%=t 'tags.form.comment'%>:<br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%=t 'tags.form.color'%>:<br />
    <%= f.text_field :color %> (<%=t 'tags.form.color_comment'%>)
  </div>
  <div class="field">
    <%=t 'tags.form.seasontag'%>:<br />
    <%= f.check_box :seasontag %> (<%=t 'tags.form.seasontag_comment'%>)
  </div>
  <div class="actions">
    <%= f.submit(t('tags.form.save')) %>
  </div>
<% end %>
</td></tr></table></td></tr>