<tr><td><table class="content"><tr><td>
<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Kürzel:<br />
    <%= f.text_field :acronym %> (1 Zeichen; A bis Z)
  </div>
  <div class="field">
    Kommentar:<br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    Farbe:<br />
    <%= f.text_field :color %> (green, red, orange, blue, black oder Hex-Code zB: #FF0000)
  </div>
  <div class="field">
    Staffeltag:<br />
    <%= f.check_box :seasontag %> (gehört zu Staffeln nicht zu Serien)
  </div>
  <div class="actions">
    <%= f.submit('Speichern') %>
  </div>
<% end %>
</td></tr></table></td></tr>