<tr>
	<td>
		<table class="content">
			<tr>
				<th><%=t 'series.filter.header' %></th>
			</tr>
			<tr>
				<td>
    <%= form_for("series", :method => "get") do |f| %>
	  <%= check_box(:filter, :complete) %><font color="green"><b>X</b></font>
	  <%= check_box(:filter, :uncomplete) %><font color="orange"><b>X</b></font>
	  <%= check_box(:filter, :nothing) %><font color="red"><b>X</b></font>
	  <%= radio_button(:filter, :relation, :and, { :checked => (User.current.filterrelation == "and") }) %><%=t 'series.filter.and' %>
	  <%= radio_button(:filter, :relation, :or, { :checked => (User.current.filterrelation == "or") }) %><%=t 'series.filter.or'%>
	  <%= collection_select(:filter, :tag_id, Tag.for_series, :id, :full_description, options={:prompt => t('series.filter.individual_tags')}) %>
	  <%= f.submit t('series.filter.filter') %>
	<% end %>
				</td>
			</tr>
		</table>
	</td>
</tr>