<%= form_for(@series) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :tags %><br />
  	<%= f.collection_select :tag_ids, Tag.all(:order => "priority DESC"), :id, :full_description, {}, { :multiple => true} %>
  </div>
  <%= f.hidden_field :added_by %>
  <%= f.hidden_field :edit_by, :value => User.current.id %>
  <div class="actions">
    <%= f.submit 'Speichern' %>
  </div>
<% end %>