<font color="<%=
if @a_series.users_owning_series_complete.include?(User.current) then
	"green"
else
	if @a_series.users_owning_series_partly.include?(User.current) then
		"orange"
	else
		"red"
	end
end %>
"><span title="<%=
if @a_series.users_owning_series_complete.include?(User.current) then
	t('series.taglist.all_seasons')
else
	if @a_series.users_owning_series_partly.include?(User.current) then
		t('series.taglist.some_seasons')
	else
		t('series.taglist.no_season')
	end
end %>
"><%=
highestSelfOwningSeason = User.current.seasons.order("number DESC").find(:all, :conditions => ["series_id = ?", @a_series.id]).first
if @a_series.users_owning_series_complete.include?(User.current) then
	if User.current.replace_complete_x then
		User.current.seasons.order("number DESC").find(:all, :conditions => ["series_id = ?", @a_series.id]).first.number
	else
		"X"
	end
else
	if @a_series.users_owning_series_partly.include?(User.current) then
		if User.current.replace_uncomplete_x then
			User.current.seasons.order("number DESC").find(:all, :conditions => ["series_id = ?", @a_series.id]).first.number
		else
			"X"
		end
	else
		"X"
	end
end
%></span></font>
<% @a_series.tags.order("priority DESC").each do |tag| %>
	<font color="<%= tag.color %>">
		<span title="<%= tag.comment %>">
			<%= tag.acronym %>
		</span>
	</font>
<% end %>
