<tr><td><table class="content" id="subtitle"><tr><td>
<h2><%=t 'series.index.header'%></h2>

<%= link_to t('series.index.add_series'), new_series_path %> |
<%= link_to t('series.index.export_as_csv'), { :controller => "series", :format => "csv" } %><%
if !params[:filter_show] then %> |
<%= link_to t('series.index.filter'), { :controller => "series", :filter_show => true } %>
<% end %>
</td></tr></table></td></tr>

<%= render 'filter' if params[:filter_show] %>

<tr><td><table class="content rowhighlight">
  <tr>
    <th><%=t 'series.index.name'%></th>
    <th><%=t 'series.index.tags'%></th>
    <% if User.current.show_ser_col_complete? then %><th><%=t 'series.index.owning_complete'%></th><% end %>
    <% if User.current.show_ser_col_uncomplete? then %><th><%=t 'series.index.owning_partly'%></th><% end %>
    <% if User.current.show_ser_col_seasoncount? then %><th><%=t 'series.index.season_count'%></th><% end %>
    <% if User.current.show_ser_col_episodecount? then %><th><%=t 'seasons.index.episode_count'%></th><% end %>
    <th></th>
  </tr>

<%
count_of_shown_series = 0
count_of_shown_seasons = 0 
count_of_shown_episodes = 0
%>

<% @series.each do |series| %>
  <% if !params[:filter] || !series.is_filtered?(params[:filter]) then %>
  <% @a_series = series %>
  <% count_of_shown_series += 1 %>
  <% count_of_shown_seasons += series.seasons.count %>
  <% count_of_shown_episodes += series.episodes_count %>
  <tr>
    <td><%= @a_series.name %></td>
    <td><b><%= render 'taglist' %></b></td>
    <% if User.current.show_ser_col_complete? then %><td id="users_complete"><%= gen_users_fullname_comma_list @a_series.users_owning_series_complete %></td><% end %>
    <% if User.current.show_ser_col_uncomplete? then %><td id="users_partly"><%= gen_users_fullname_comma_list @a_series.users_owning_series_partly %></td><% end %>
    <% if User.current.show_ser_col_seasoncount? then %><td><%= series.seasons.count %></td><% end %>
    <% if User.current.show_ser_col_episodecount? then %><td><%= series.episodes_count %></td><% end %>
    <td><%= link_to t('series.index.details'), @a_series %>
    <%= link_to t('series.index.edit'), edit_series_path(@a_series) %>
    <%= link_to t('series.index.delete'), @a_series, confirm: t('series.index.confirm_delete'), method: :delete %></td>
  </tr>
  <% end %>
<% end %>
  <tr>
  	<% colspan_count = 3
  	colspan_count += 1 if User.current.show_ser_col_complete?
  	colspan_count += 1 if User.current.show_ser_col_uncomplete?
  	colspan_count += 1 if User.current.show_ser_col_seasoncount?
  	colspan_count += 1 if User.current.show_ser_col_episodecount? %>
  	<th colspan="<%= colspan_count %>">
  		<center>
  		<%= t 'series.index.footer_stats',
  		:series_count => count_of_shown_series,
  		:season_count => count_of_shown_seasons,
  		:episode_count => count_of_shown_episodes %>
  		</center>
  	</th>
  </tr>
</table></td></tr>