<h1>Serien</h1>

<%= link_to 'Serie anlegen', new_series_path %> |
<%= link_to 'Als CSV exportieren', { :controller => "series", :format => "csv" } %>
<br /><br />

<table class="content">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Komplettbesitzer</th>
    <th>Teilbesitzer</th>
    <th></th>
  </tr>

<% @series.each do |series| %>
<% @a_series = series %>
  <tr>
    <td><%= @a_series.name %></td>
    <td><b><%= render 'taglist' %></b></td>
    <td id="users_complete"><%= gen_users_fullname_comma_list @a_series.users_owning_series_complete %></td>
    <td id="users_partly"><%= gen_users_fullname_comma_list @a_series.users_owning_series_partly %></td>
    <td><%= link_to 'Details', @a_series %>
    <%= link_to 'Bearbeiten', edit_series_path(@a_series) %>
    <%= link_to 'Löschen', @a_series, confirm: 'Sind Sie sicher?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Serie anlegen', new_series_path %> |
<%= link_to 'Als CSV exportieren', { :controller => "series", :format => "csv" } %>
