<h1>Serien</h1>

<%= link_to 'Serie anlegen', new_series_path %> |
<%= link_to 'Als CSV exportieren', { :controller => "series", :format => "csv" } %>
<br /><br />

<table class="content">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Komplettbesitzer</th>
    <th>Teilbesitzer</th>
    <th></th>
  </tr>

<% @series.each do |series| %>
  <tr>
    <td><%= series.name %></td>
    <td><font color="
    	<%=(series.users_owning_series_complete.include?(User.current)?"green":
    	(series.users_owning_series_partly.include?(User.current)?"orange":"red"))
    	%>">X</font></td>
    <td id="users_complete"><%= gen_users_fullname_comma_list series.users_owning_series_complete %></td>
    <td id="users_partly"><%= gen_users_fullname_comma_list series.users_owning_series_partly %></td>
    <td><%= link_to 'Details', series %>
    <%= link_to 'Bearbeiten', edit_series_path(series) %>
    <%= link_to 'Löschen', series, confirm: 'Sind Sie sicher?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Serie anlegen', new_series_path %> |
<%= link_to 'Als CSV exportieren', { :controller => "series", :format => "csv" } %>
