<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @series.name %>
</p>

<p>
  <b>Created:</b>
  <%= @series.created_at.to_s(:de) %> (by <%= @series.fullname_of_creator %>)
</p>

<p>
  <b>Edit:</b>
  <%= @series.updated_at.to_s(:de) %> (by <%= @series.fullname_of_editor %>)
</p>


<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
