<% @a_series = @series %>
<table class="header">
	<tr>
		<td id="first-cell"><h1><%= @series.name %></h1><%= link_to 'Bearbeiten', edit_series_path(@series) %></td>
		<td><b>Tags:</b><br /><b><%= render 'taglist' %></b></td>
		<td><b>Erstellt:</b><br /><%= @series.created_at.to_s(:de) %> (by <%= @series.fullname_of_creator %>)</td>
		<td><b>zuletzt bearbeitet:</b><br /><%= @series.updated_at.to_s(:de) %> (by <%= @series.fullname_of_editor %>)</td>
	</tr>
</table>


<%= form_tag :controller => "series", :action => "save", :id => @series.id %>

<table class="content">
	<tr>
		<th></th>
		<th>Besitze ich</th>
		<th>alle Besitzer</th>
	</tr>
	
	<% @series.seasons.order("number ASC").each do |season| %>
	<tr>
		<td><%if season.number == 0 then%>Pilotfolge<%else%>Staffel <%= season.number %><%end%></td>
		<td><%= check_box_tag "s#{season.number}", '0', season.users_fullname.include?(User.current.fullname) %></td>
		<td><%= gen_users_fullname_comma_list season.users %></td>
	</tr>
	<% end %>
	
	<tr class="last">
		<td>
			<%= link_to 'Staffel hinzufügen', :controller => 'series', :action => 'season_add', :id => @series.id, :mothod => 'puts' %><br />
			<%= link_to 'Staffel entfernen', :controller => 'series', :action => 'season_remove', :id => @series.id, :mothod => 'puts' %>
		</td>
		<td>
			<%= submit_tag "Speichern" %>
			</form>
		</td>
		<td></td>
	</tr>
	
</table>