<div id="mainmenu">
  <ul>
  	<% unless User.current then %>
  	<li><%= link_to "Login", :controller => "session", :action => "login"  %></li>
  	<% else %>
  	<li><%= link_to "Benutzer", :controller => "users" %></li>
  	<li><%= link_to "Serien", :controller => "series" %></li>
  	<li><%= link_to "Seasons", :controller => "seasons" %></li>
  	<li><%= link_to "Tags", :controller => "tags" %></li>
	<li><%= link_to "Logout", :controller => "session", :action => "logout" %></li>
	<% end %>
  </ul>
</div>