<div id="mainmenu">
  <ul>
  	<% unless User.current then %>
  	<li <%= 'id=act' if params[:controller] == "session" %>><%= link_to t('session.login.header'), :controller => "session", :action => "login"  %></li>
  	<% else %>
  	<li <%= 'id=act' if params[:controller] == "users" %>><%= link_to t('users.index.header'), :controller => "users" %></li>
  	<li <%= 'id=act' if params[:controller] == "series" %>><%= link_to t('series.index.header'), :controller => "series" %></li>
  	<li <%= 'id=act' if params[:controller] == "seasons" %>><%= link_to t('seasons.index.header'), :controller => "seasons" %></li>
  	<li <%= 'id=act' if params[:controller] == "tags" %>><%= link_to t('tags.index.header'), :controller => "tags" %></li>
	<li <%= 'id=act' if params[:controller] == "session" %>><%= link_to t('session.logout.header'), :controller => "session", :action => "logout" %></li>
	<% end %>
  </ul>
</div>