<!DOCTYPE html>
<html>
<head>
  <title>SerienDB-RAN</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<table class="base">
	
<tr>
	<table class="content" id="title">
		<tr>
			<td>
				<h1>SerienDB-RAN</h1>
			</td>
		</tr>
	</table>
</tr>

<tr>
	<td>
		<table class="content" id="mainmenu">
			<tr>
				<th><%=t 'layouts.application.menu'%></th>
			</tr>
			<tr>
				<td>
					<%= render :partial => 'layouts/mainmenu' %>
				</td>
			</tr>
		</table>
	</td>
</tr>

<%= render :partial => 'layouts/notice' %>

<%= yield %>

<tr>
	<td>
		<table class="content" id="footer">
			<tr>
				<td>SerienDB-RAN || v2.2.1 (<%= link_to 'Changelog', :controller => 'session', :action => 'changelog' %>) || Copyright: NiJO's (<a href="http://www.nijos.de">nijos.de</a>)</td>
			</tr>
		</table>
	</td>
</tr>

</table>

</body>
</html>
