<!DOCTYPE html>
<html>
<head>
  <title>SerienDB-RAN</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<table>
	
<tr id="title">
	<td><h1>SerienDB-RAN</h1></td>
	<td>
		<%= render :partial => 'layouts/notice' %>
	</td>
</tr>

<tr>
	<td colspan="2">
		<fieldset>
			<legend>Menü</legend>
			<%= render :partial => 'layouts/mainmenu' %>
		</fieldset>
	</td>
</tr>

<tr>
	<td colspan="2">
<%= yield %>
	</td>
</tr>

<tr id="footer">
	<td colspan="2">SerienDB-RAN || v1.6-dev || Copyright: NiJO's (<a href="http://www.nijos.de">nijos.de</a>)</td>
</tr>

</table>

</body>
</html>
